.center .first{
    max-width: 650px;
    display: block;
    margin: 0 auto;
    border: 1px solid brown;
    background-color: rgb(212, 185, 168, 0.7555);
    border-radius: 10px;

    text-align: center;
    padding-top: 18px; 
    padding-bottom: 18px; 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    box-shadow:3px 3px 10px rgb(86 43 12 / 100%);


}

.center footer {
    max-width: 650px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 18px; 
    padding-bottom: 18px; 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}
.center footer a {
    text-decoration: none;
    color: rgb(100, 7, 7);
    font-weight: 600;
}
.center h1{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: rgb(58, 36, 21);
    margin-bottom: 12px;
}

.center .form{
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2px;   
}

.logo{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.response{
    text-align: center; 
    max-width: 950px;  
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.response footer{
    margin: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 60;
    border: 1px solid brown;
    background-color: rgb(212, 185, 168, 0.9555);
    border-radius: 10px;
    display: inline-block;
    padding: 6px;
}

.response footer a{
    text-decoration: none;
    color: rgb(100, 7, 7);
    font-weight: 600;
}
    
.response .form{
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

.response h1{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: rgb(58, 36, 21);

}

.response .results{
    text-align: left;
    padding-left:70px;
    padding-right:70px;
    padding-top: 20px;
}

