.Meaning {
    border: 3px solid blue;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    padding: 20px;
}

.Meaning .definition {
    font-size: 20px;
}