.Phonetic a{
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    margin-right: 15px;
    transition: all 150ms ease-in-out;
    color: rgb(86, 43, 12);

}

.Phonetic .fas:hover{
    background: rgb(86, 43, 12);
    color: white;
}

.Phonetic {
    height:30px;
    margin-top: 20px;
    text-decoration: none;

}

.Phonetic .text{
    opacity: 0.7;
    font-weight: 590;
    font-size: 17px;
}