.Photos img {
    border-radius: 4px;
    margin-bottom: 13px;
    margin-top: 10px;

}

.Photos{
    border-radius: 8px;
    box-shadow:3px 3px 10px rgb(86 43 12 / 100%);
    background-color: rgb(212, 185, 168, 0.8255);
    padding: 20px;
    max-width: 790px;
    margin: 0 auto;
    display: block;
}