.Results .main{
    box-shadow:3px 3px 10px rgb(86 43 12 / 100%);
    background-color: rgb(212, 185, 168, 0.9555);
    border-radius: 8px;
    font-family: 'Cabin', sans-serif;
    padding: 13px;
    margin: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: rgb(58, 36, 21);


}

.Results .term{
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 40px;
}
