.Synonyms .list{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    padding-left: 0;
    padding-right: 15px;
  
    
}
.Synonyms {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0;
}
